:root {
  font-size: 17px;
  font-family: 'Special Elite', cursive;
  font-family: 'Roboto', sans-serif;
  --ship0: #2196f3;
  --ship1: #016fec;
  --ship2: #00bcd4;
  --ship3: #009688;
  --ship4: #08e7dc;
  --ship5: #64b5f6;
}
/* noselect is on to prevent dragging */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Special Elite';
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  flex-shrink: 1;
}

header {
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 0.8rem;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div {
  padding-top: 5px;
}
header img {
  height: 2.3rem;
}
main {
  display: flex;
  flex-direction: column;
}
.announcement {
  align-self: center;
  text-align: center;
  padding: 1rem;
  background-color: #e4e4e4;
  border-radius: 5px;
  width: 500px;
  border-bottom: solid 2px black;
  white-space: pre-wrap;
}

#start-restart {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 10px;
}

.board {
  display: flex;
  justify-content: center !important ;
  gap: 3rem;
}

.human-side,
.computer-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}

#human-grid,
#computer-grid {
  display: grid;
  grid-template-rows: repeat(10, 32px);
  grid-template-columns: repeat(10, 32px);
  box-sizing: border-box;
}

.tile {
  background-color: white;
  border: solid 1.5px rgb(68, 68, 68);
  margin-left: -1.5px;
  margin-top: -1.5px;
}

.tile:hover {
  cursor: pointer;
}

.red-mark {
  background-image: url('./images/red-mark.png');
  background-color: rgba(243, 152, 92, 0.507) !important;
  background-size: cover;
  pointer-events: none;
}

.missed-mark {
  background-image: url('./images/miss-mark.png');
  background-size: cover;
  background-color: rgba(255, 238, 5, 0.425);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  padding: 8px;
  pointer-events: none;
}
/* ship colors css */
.ship-mark0 {
  background-color: var(--ship0);
}
.ship-mark1 {
  background-color: var(--ship1);
}
.ship-mark2 {
  background-color: var(--ship2);
}
.ship-mark3 {
  background-color: var(--ship3);
}
.ship-mark4 {
  background-color: var(--ship4);
}
.ship-mark5 {
  background-color: var(--ship5);
}

button,
label {
  font-size: 0.8rem;
  font-family: inherit;
  background-color: #e4e4e4;
  border: none;
  border-bottom: solid 2px black;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  width: 100px;
}
button:hover,
label:hover {
  cursor: pointer;
  opacity: 80%;
}

button:active {
  transform: scale(0.9);
}
#label-container {
  display: inline-block;
}
#label-container:active {
  transform: scale(0.9);
}
/* button colors */
#randomize {
  background-image: linear-gradient(45deg, rgb(3, 250, 209), rgb(6, 198, 247));
}
#start {
  background-color: #0cd15e;
}
#restart {
  background-color: #ffc40c;
}
#reset {
  background-color: rgb(252, 88, 88);
}
label {
  background-color: rgb(236, 69, 236);
}
input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
/* diable and enable UI css */
.no-event {
  pointer-events: none;
}
.fade {
  opacity: 50%;
}
/* hover effect when placing ships manually */
.green-hovered-tile {
  background-color: rgb(10, 240, 10);
}
.red-hovered-tile {
  background-color: red;
}

/* css for footer area */
footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
footer div {
  padding: 3px;
}
footer img {
  width: 1.2rem;
  height: 1.2rem;
}

/* responsive design css */
@media (max-width: 415px) {
  :root {
    font-size: 16px;
  }
  .announcement {
    width: 300px;
  }
  .board {
    flex-direction: column;
    margin-bottom: 18px;
  }
}
