:root {
  font-size: 18px;
  font-family: 'Special Elite', cursive;
  font-family: 'Roboto', sans-serif;
  --ship0: #2196f3;
  --ship1: #03a9f4;
  --ship2: #00bcd4;
  --ship3: #009688;
  --ship4: #08e7dc;
  --ship5: #64b5f6;
}

html,
body {
  font-family: 'Special Elite';
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div {
  padding-top: 5px;
}
header img {
  height: 2.3rem;
}
main {
  display: flex;
  flex-direction: column;
}
.announcement {
  align-self: center;
  text-align: center;
  padding: 18px;
  background-color: #e4e4e4;
  margin-bottom: 20px;
  border-radius: 5px;
  min-width: 500px !important;
  border-bottom: solid 2px black;
}

.board {
  display: flex;
  justify-content: space-around !important ;
}

.human-side,
.computer-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

#human-grid,
#computer-grid {
  display: grid;
  grid-template-rows: repeat(10, 32px);
  grid-template-columns: repeat(10, 32px);
  box-sizing: border-box;
}

.tile {
  background-color: white;
  border: solid 1.5px rgb(68, 68, 68);
  margin-left: -1.5px;
  margin-top: -1.5px;
}

.tile:hover {
  cursor: pointer;
}
.red-mark {
  background-image: url('./images/red-mark.png');
  background-color: rgba(243, 152, 92, 0.507) !important;
  background-size: cover;
  pointer-events: none;
}

.missed-mark {
  background-image: url('./images/miss-mark.png');
  background-size: cover;
  background-color: rgba(255, 238, 5, 0.425);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  padding: 8px;
  pointer-events: none;
}

.ship-mark0 {
  background-color: var(--ship0);
}
.ship-mark1 {
  background-color: var(--ship1);
}
.ship-mark2 {
  background-color: var(--ship2);
}
.ship-mark3 {
  background-color: var(--ship3);
}
.ship-mark4 {
  background-color: var(--ship4);
}
.ship-mark5 {
  background-color: var(--ship5);
}

button {
  font-family: inherit;
  background-color: #e4e4e4;
  border: none;
  border-bottom: solid 2px black;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
}

.winner {
  position: absolute;
}

.fade {
  pointer-events: none;
  opacity: 50%;
}
.fade * {
  pointer-events: none;
}
